<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>ModelKit</string>
     <key>CFBundleIdentifier</key>
     <string>com.interfacelab.ModelKit</string>
     <key>CFBundleVersion</key>
     <string>ProjectNumber</string>
     <key>DocSetFeedName</key>
     <string>Interfacelab</string>
     <key>DocSetPublisherIdentifier</key>
     <string>com.interfacelab</string>
     <key>DocSetPublisherName</key>
     <string>Interfacelab</string>
</dict>
</plist>
